<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.LognConnectionString"
            connectionString="Data Source=Hacker-abr4;Initial Catalog=Logn;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.cn" connectionString="Data Source=Wilmer;Initial Catalog=Logn;Persist Security Info=True;User ID=Sismteemas;Password=12345678;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.LognConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Logn;Persist Security Info=True;User ID=Sistemas;Password=12345678;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>